html {
	background: url(../images/back-top.jpg) no-repeat top center;
}	
body
{
	MARGIN: 0px; 
	COLOR: #666;
	FONT-FAMILY: "Trebuchet MS", Verdana, Arial,  sans-serif; 
	FONT-SIZE: 14px; 
	text-align: center;
	background: url(../images/back-bottom.jpg) no-repeat bottom center;
}

/* links */
a, a:link, a:hover, a:visited {
	color: #006B63;
	text-decoration : underline;
	font-weight: normal;
	}
div.vermas {
	background: url(../images/vermas.gif?v2) no-repeat;
    display:block;
    width:69px;
    height:20px;
    float: right;
    text-indent:-9009px;	
	}
.vermas a 
{
    display:block;
    width:100%;
    height:100%;
    outline:none;
}    

a img {	border: none; text-decoration: none; }

/* page structure ---------------------------------------------------------- */
#central 
{
	margin: 0px auto;
	width: 770px;
	text-align: left;
}
   
#header 
{
}
#content
{
    padding: 10px 0;
    clear: both;
	min-height: 400px;
}
#footer
{
    padding: 10px 10px 30px;
    text-align: center;
}
#footer table {font-size: 90%}
#footer a {color: #333}

/* header ---------------------------------------------------------- */
#logo { float: left; width: 220px; height: 160px; }
#logo a { width: 220px; 
          height: 150px; 
          display: block;
          background: url(../images/logo-ceres-nucleo-genetico-porcino.png) no-repeat; 
}
#inta { float: right; width: 180px; height: 50px; }        
#inta a { width: 180px; 
          height: 50px; 
          display: block;
          background: url(../images/inta-mgc-mejoramiento-genetico-de-cerdos.png) no-repeat; 
}
/* navigation */
#nav {
	clear: right;
	float: right;
	margin-top: 62px;
	text-align: right;
	width: 550px;
}
#nav ul 
{
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: hidden;
	float: right;
}
#nav li {
	float: left;
	margin: 0 5px;
	text-align: center;
	vertical-align: middle;	
	}
#nav li a {
	float: left;
	padding: 3px 7px;
	margin: 0;
	text-decoration: none;
	color: #666;
	border: none;
	font-weight: normal;
        background: #BAF0FE; 	
        line-height: 25px;
        font-size: 16px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
	}
#nav li a:hover {
	color: black;
	background: #94E8FE ; 	
	}
#nav li a.active {
	font-weight: normal;
	color: black;
        background: #94E8FE ; 	

	}
#nav .muchasletras {font-size: 15px;}


/* content */
FORM
{
	MARGIN: 0px;
}

h1
{
	font-size: 22px;
	color: #333;
	text-decoration : none;
	padding-top : 0px;
	width: 100%;
	MARGIN-TOP: 0px;
	MARGIN-BOTTOM: 0px;

}
h2, h2 a:link, h2 a:visited, a.h2, a:visited.h2  {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: normal;
	color: #006B63;
	text-decoration: none;
}
H3 {
	COLOR: #666666;
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	MARGIN-TOP: 5px;
	MARGIN-BOTTOM: 0px;
	}
h4, h4 a:link, h4 a:visited, a.h4, a:visited.h4  {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    font-weight: normal;
	color: #570C06;
	text-decoration: none;
}	
table 
{
	border-collapse: collapse; 
	FONT-SIZE: 14px; 
}
th, td {vertical-align: top;}
div.hr {margin: 15px 0; height: 1px; border-top: 1px dotted #ccc}
table.tabla
{
    width: 100%;
}

.tabla td 
{
	vertical-align: top; 
	border: 1px solid #ccc; 
	padding: 1px 5px; 
}
.tabla th 
{
	border: 1px solid #D5D5D5; 
	background: #F1F2F4 url(../images/back-th.jpg) repeat-x top; 
	color: #676767; 
	font-weight: normal; 
	text-align: center; 
	width: 2em;
}
th.orderby
{
	border: 1px solid #96D9F9; 
	background: #D8ECF6 url(../images/back-th-orderby.jpg) repeat-x top; 
	color: #676767; 
	font-weight: normal; 
	text-align: center; 
	width: 2em;
}
div.toolbar
{
	border: 1px solid black; 
	background: #94C2CE url(../images/back-toolbar.jpg) repeat-x top; 
	color: #fff; 
	height: 30px;
	vertical-align: middle;
}
.toolbar a.boton, .toolbar a.boton:hover, .toolbar a.boton:visited
{
    color: #fff; 
    padding: 2px 5px;
    margin: 2px 0px 2px 5px ;
    text-decoration: none;
    float: left;
}
.toolbar a.boton:hover
{
	border: 1px solid white; 
}
new
{
    padding-left: 15px;
    background: url(../images/new.gif) no-repeat left center;     
}
div.filterbar
{
	border-left: 1px solid #96D9F9; 
	border-right: 1px solid #96D9F9; 
	background-color: #D8ECF6; 
	color: black; 
	height: 30px;
	vertical-align: middle;
}
div.error
{
	margin: 10px;
	border: solid 2px red;
	color: black;
	padding: 10px 10px 10px 45px;
	background: #F2DDDD url(../images/error.gif) no-repeat left center;
}
div.info
{
	margin: 10px;
	border: solid 2px green;
	color: black;
    padding: 20px 20px 20px 70px;
	background: #E0F8E1 url(../images/info.gif) no-repeat left center;
    
}
span.error 
{
	border: solid 1px red;
	color: black;
	padding: 0 5 0 25;
	background: #F2DDDD url(../images/error20.gif) no-repeat left center;
}
span.info
{
	border: solid 1px green;
	color: black;
    padding: 0 5 0 25;
	background: #E0F8E1 url(../images/info20.gif) no-repeat left center;
}
.warning
{
	margin: 10px;
	border: solid 2px yellow;
	color: black;
    padding: 20 20 20 70;
	background: #FFF1BB url(../images/warning.gif) no-repeat left center;
}


img.conborde, img.bordecito {
	border: solid 1px #CCCCCC;
	padding: 7px;
}
img.left 
{
	margin-right: 5px;
}
div.parrafo 
{
	clear: both;
}
.parrafo p {margin: 0px;}

/* genericos */
hr, .hide {
	display: none;
    }


.recommends {padding-left: 20px; background: url(../images/suggest.gif) no-repeat left center;}
.email, .contacto {padding-left: 20px; background: url(../images/email.gif) no-repeat left center;}
.phone {padding-left: 20px; background: url(../images/phone.gif) no-repeat left center;}
.mobile {padding-left: 20px; background: url(../images/mobile.gif) no-repeat left center;}
.celestito {background-color: #F4FBFF; border: solid 1px #CAEAFF; padding: 10px;}

#summary h2 {border-bottom: solid 1px #ccc; padding-top: 5px;padding-bottom: 2px; margin-bottom: 5px;}
#summary table {}
#summary td 
{
    border-left: solid 15px white;
    width: 20%;
}
#summary th {border-left: solid 0px white;width: 20%; font-weight: normal; text-align: left;} 
.bloque
{
    clear: both;
    margin-bottom: 25px;
}
.bloque img {float: right; margin: 5px; border: solid 1px #ccc; padding: 7px;}

table.grilla {margin-top: 15px;margin-bottom: 35px;}
.grilla td 
{
	vertical-align: top; 
	border: 1px solid #ccc; 
    text-align: center; 	
    font-weight: bold; 
}
.grilla th 
{
	border: 1px solid #D5D5D5; 
	background: #F1F2F4 url(images/back-th.jpg) repeat-x top; 
	color: #676767; 
	font-weight: normal; 
	text-align: center; 
	font-size: 80%;
	width: 2em;
}
.grilla thead td
{
	background: #333 url(images/back-th-orderby.jpg) repeat-x top; 
	color: white; 
	font-weight: normal; 
	text-align: center; 
}
    
/* galeria */
.galeria { padding: 5px 0; text-align: center;}
.galeria img, .galeria1 img, .galeria2 img, .galeria3 img 		
{
	border: solid 1px #CCCCCC;
	padding: 4px;
}
.galeria img { margin: 0; }
.galeria1 img, .galeria2 img, .galeria3 img { margin-left: 5px; }
.galeria a, .galeria1 a, .galeria2 a, .galeria3 a {text-decoration: none;}

/* jQuery lightBox plugin - Gallery style */
#gallery {
	padding: 10px 0;
	width: 100%;

}
#gallery ul { list-style:}
#gallery ul li { display: inline; }
#gallery ul img {
	border: 5px solid #3e3e3e;
	border-width: 5px 5px 20px;
}
#gallery ul a:hover img {
	border: 5px solid #fff;
	border-width: 5px 5px 20px;
	color: #fff;
}
#gallery ul a:hover { color: #fff; }


/* inta */
.inta {background: url(../images/back-inta.jpg) no-repeat; 
       width: 600px;
       height: 100px;
       margin: 20px auto;
       color: black;
       vertical-align: middle;
       
}
.inta img { float: left; margin: 15px 10px; }
.inta p {padding: 20px 5px 0 0; }
.inta strong {font-size: 120%; }
.inta a {text-decoration: none;}

/* vcard */
.vcard .fn {font-weight: bold; }
.vcard .adr {margin-bottom: 10px;}
.vcard .tel .type {display: none;}
.vcard {margin-bottom: 15px;}



.presentaciones div 
{
    cursor: pointer; 
    background: url(../images/projection-screen-presentation.png) no-repeat left; 
    padding: 3px 0 3px 20px; 
    color: #006B63
}
#fericerdo {
    background: #F5F5F5; 
    height: 34px;
    margin-bottom: 10px;
}